
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #5865F2;
    padding: 12px 24px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    display: inline-block;
}

.btn:hover {
    background-color: #4752c4;
}

.btn-outline {
    background: transparent;
    border: 2px solid #5865F2;
    color: #5865F2;
}

.btn-outline:hover {
    background-color: #5865F2;
    color: white;
}
